* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding-top: 70px;
    background: white;
}

/*kalender*/
.calendar {
    justify-content: center;
    display: flex;
    margin-top: 80px;
    margin-bottom: 50px;
}

.container h2 {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
}

/* ====== NAVBAR ====== */
.navbar {
    background: #0047ab;
    /* biru tua elegan */
    padding: 1rem 0;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.icon-user a {
    color: white;
    font-size: 1.4rem;
    text-decoration: none;
    transition: color 0.3s;
}

.icon-user a:hover {
    color: #ffd700;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
}

.navbar .nav-links li {
    margin-right: 20px;
}

.navbar .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

.navbar .nav-links a:hover {
    color: #ffd700;
    /* kuning saat hover */
}

.footer {
    background: #0047ab;
    /* biru tua elegan */
    height: 250px;
    color: white;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    padding: 30px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.footer-logo {
    width: 100px;
    height: auto;
}

.footer-info p {
    font-size: small;
    font-weight: normal;
}